:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}

a:hover {
  color: #e6e6e6;
}
